@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 1rem;
  }
}

.dark {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
  --card: 0 0% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;
  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 63.9%;
  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 14.9%;
  --input: 0 0% 14.9%;
  --ring: 0 0% 83.1%;
}

.rti--container {
  background-color: var(--background);
  color: var(--foreground);
  border-color: hsl(var(--input)) !important;
  border-width: 1px !important;
}

.rti--input {
  background-color: var(--background);
  color: var(--foreground);
}

.rti--tag {
  border-width: 1px var(--border) !important;
  background-color: hsl(var(--primary)) !important;
  color: hsl(var(--primary-foreground)) !important;
}

.sparkline-colour {
  background-color: hsl(var(--primary)) !important;
}

.customFont {
  color: #7286fe;
}

.bg-gradient {
  background: radial-gradient(ellipse 100% 100% at 0 100%,rgba(119,232,208,.15),rgba(206, 90, 148, 0));
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-gradient-2 {
  background: linear-gradient(120deg, #754696, #5b66a7);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-gradient-3 {
  background-color: #0a0f20;
  background-repeat: no-repeat;
  background-size: cover;
}
.glass {
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.1);
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--bg-background)) !important;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc !important;
}

.text-gradient-purple-blue {
  background: linear-gradient(to right, #8b22c0, #1a98bb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;

}

.arrow-style {
  font-size: 70px;
  border: 1px solid #ccc;
  border-radius: 50px;
  margin-top: 200px;
}

.arrow {
  animation: bounce 2s infinite;
}

.type-animation {
  font-size: 4em;
  white-space: pre-line;
  display: block;
  margin-top: 200px;
}

section {
  height: auto;
  display: flex;
}

.not-found-text {
  font-size: 8rem;
  animation: bounce 2s infinite alternate; 
}

@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;

  }

  body {
    background-size: cover;
    @apply text-foreground;
    @apply bg-background;
  }
}

@media (max-width: 767px) {
  .w-full.flex.justify-center.items-center {
    flex-direction: column;
    text-align: center;
  }

  .w-full.md\:w-1\/2 {
    width: 70%;
  }

  .w-full.md\:w-1\/2.flex.justify-center {
    margin-top: 20px;
  }

  .w-full.md\:w-1\/2.flex.justify-center img {
    width: 70%;
    margin-top: 20px;
  }

  .type-animation {
    font-size: 2em !important;
    margin-top: 140px;
  }

  .arrow-style {
    margin-top: 10px !important;
  }
  
  .line-chart-container {
    display: none;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}