<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/css/styles.css') }}">

    <title>splycer</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-colour">
        <div class="container">
          <a class="navbar-brand" href="#">splycer</a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
              <a class="nav-item nav-link nav-link-text" href="#">Todays Highlights</a>
              <a class="nav-item nav-link nav-link-text" href="#">Browse</a>
              <a class="nav-item nav-link nav-link-text" href="#">Upload</a>
              <a class="nav-item nav-link nav-link-text" href="#">About</a>
              <a class="nav-item nav-link nav-link-text" href="#">Analytics</a>
            </div>
          </div>
          <button class="btn btn btn-light my-2 my-sm-0">My Profile</button>
        </div>
      </nav>
      
    <div class="main-con">
    <h1 class="main-title">splycer technology</h1>
    </div>

</body>
</html>
