<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/css/styles.css') }}">

    <title>CLIPR.</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-colour">
        <div class="container">
          <a class="navbar-brand" href="#">CLIPR⬜</a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
              <a class="nav-item nav-link nav-link-text" href="#">Todays Highlights</a>
              <a class="nav-item nav-link nav-link-text" href="#">Browse</a>
              <a class="nav-item nav-link nav-link-text" href="#">Upload</a>
              <a class="nav-item nav-link nav-link-text" href="#">Analytics</a>
              <a class="nav-item nav-link nav-link-text" href="#">About</a>
            </div>
          </div>
          <button class="btn btn btn-light my-2 my-sm-0">Download Software</button>
          {% if username %}
          <a href="/"><button class="btn btn-light my-2 my-sm-0">My Account</button></a>
          {% else %}
           <a href="/login"><button class="btn btn-light my-2 my-sm-0">Login</button></a>
           {% endif %}
        </div>
      </nav>
    <div class="main-container">
    <h1 class="main-title typing-animation text-center">CLIPR. technology</h1>
    <p class="mt-4 sub-text">Total Clips Splyced</p>
    <h4>0</h4>
    <h3 class="mt-5">About CLIPR.</h3>
    <p class="sub-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
     {% if  not username %}
      <a href="/signup"><button class="btn btn-light my-2 my-sm-0">Get Started</button></a>
      {% endif %}
    </div>
</body>
</html>
