<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/css/styles.css') }}">

    <title>CLIPR. register</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-colour">
        <div class="container">
          <a class="navbar-brand" href="/">CLIPR⬜</a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
              <a class="nav-item nav-link nav-link-text" href="#">Todays Highlights</a>
              <a class="nav-item nav-link nav-link-text" href="#">Browse</a>
              <a class="nav-item nav-link nav-link-text" href="#">Upload</a>
              <a class="nav-item nav-link nav-link-text" href="#">Analytics</a>
              <a class="nav-item nav-link nav-link-text" href="#">About</a>
            </div>
          </div>
          <button class="btn btn btn-light my-2 my-sm-0">Download Software</button>
        </div>
      </nav>
    <div class="main-container">
    <h1 class="main-title text-center mb-3">CLIPR. register</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5 card-background">
                    <div class="card-body">
                        <form method="POST">
                            <div class="form-group">
                                <label for="username">CLIPR username</label>
                                <input type="text" class="form-control" id="username" name="username" required placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label for="email">CLIPR email</label>
                                <input type="email" class="form-control" id="email" name="email" required placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required placeholder="Enter password">
                            </div>
                            <button type="submit" class="btn register-button btn-block">Register</button>
                            <p class="mt-4">Already have a CLIPR account? <a class="text-green" href="/login">Login here</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
